.backdrop {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    padding:30px;
    justify-content: center;
    align-content: center;
}
.textAll{
    color:#ffffff;
}
.position{
    margin: 50px;
    background-image: url(../../assets/architecture-ge456526d0_1920.jpg);
}


